<div id="name-container">
  <h1 class="fName">Maroun  </h1>
  <h1 class="mName">Grey</h1>
</div>
<p style="color: #222; margin-bottom: 30px;">Software and Web Development professional</p>
<div class="custom-icons">
  <a class="custom-icon" href="https://github.com/El-lobo-cimarron" target="_blank"><i class="fab fa-github fa-2x"></i></a>
  <a class="custom-icon" href="https://www.linkedin.com/in/maroun-barqawi-a53b11180/" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
  <a class="custom-icon" href="mailto:maroun.barqawi@gmail.com" target="_blank"><i class="fas fa-envelope fa-2x"></i></a>
  <a class="custom-icon" href="https://codesandbox.io/u/El-lobo-cimarron" target="_blank"><i class="fab fa-codepen fa-2x"></i></a>
</div>

<!-- CSS -->



<style>

.custom-block {
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    top:30%;
}
div#name-container {
    width: fit-content;
    margin: auto;
}
a.custom-icon {
    padding: 0 10px;
    color: #222
}
.custom-icon:hover {
  color:#444;
}
h1.fName, h1.mName {
    font-family:"Gill Sans MT W05 ExtraBold";
    font-size: 4em;
    width:fit-content;
    display: inline-block;
    padding: 0 20px;
    text-transform: uppercase;
}
@media screen and (max-width:1040px){
  h1.fName, h1.mName{
    font-size: 3em;
  }

}
.fName {
    background-image: -webkit-linear-gradient(left, #222 25%, #5A1010 37.5%, #800000, #5A1010 62.5%, #222 75%);
    background-image: linear-gradient(135deg, #222 25%, #5A1010 37.5%, #800000, #5A1010 62.5%, #222 75%);
    background-position: right center;
    background-size: 500% auto;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    transition: color 200ms linear;
  }
.fName-hover {
    background-position: left center;
    transition: background-position 1500ms ease-out;
  }
.mName {
    background-image: -webkit-linear-gradient(left, #222 25%, #333 37.5%, #444, #333 62.5%, #222 75%);
    background-image: linear-gradient(135deg, #222 25%, #333 37.5%, #444, #333 62.5%, #222 75%);
    background-position: right center;
    background-size: 500% auto;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    transition: color 200ms linear;
  }

.mName-hover {
    background-position: left center;
    transition: background-position 1500ms ease-out;
  }
.fa-2x {
    font-size: 1.5em;
}
</style>





<!-- JS -->



<script src="https://code.jquery.com/jquery-3.1.0.js">
  https: //code.jquery.com/jquery-3.1.0.js
</script>

<script>

$(document).ready(function(){

    //myName animation
    $("#name-container").mouseenter(function(e){
       $(".fName").addClass("fName-hover");
       $(".fName").html("Maroon");
     }).mouseleave(function(e){
         $(".fName").removeClass("fName-hover");
         $(".fName").html("Maroun");
     });
    $("#name-container").mouseenter(function(e){
      $(".mName").addClass("mName-hover");
    }).mouseleave(function(e){
      $(".mName").removeClass("mName-hover");
    });

});

</script>